<section class="main-page text-center image-container">
    <div class="container">
      <div class="form-page">
        <h2>Find your next experience</h2>
        <%= form_tag(search_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Events", class: 'form-control' %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
      </div>
      
    </div>
</section>
<p></p>
<div class="container">
  <h3>All Events</h3>
  <ul class="actions">
    <% if user_signed_in? %>
      <li><%= link_to "Add Event", new_event_path, class: "new" %></li>
    <% end %>
  </ul>
  </header>

  <div class="row">
    <div class="col-sm-3 pull-right">
      <div class="sidebar">
        <h3 class="discover">Discover</h3>
        <ul class="nav nav-pills nav-stacked">
          <li class="<%= "active" if current_page?("/events")%>"><%= link_to "ALL EVENTS", events_path %></li>
          <% @categories.each do |category| %>
            <li class="<%= "active" if current_page?("/categories/#{category.id}") %> text-uppercase">
              <%= link_to category.name, category_path(category) %>
            </li>
          <% end %>        
        </ul>
      </div>
    </div>
  <% @events.each do |event| %>
   <div class="col-sm-9 pull-left">
     <%= link_to event_path(event) do %>
      <div class="events">
        <div class="row">
          <div class="col-sm-3">
            <%= image_tag event.image.url(:thumb) %>
          </div>
          <div class="col-sm-9">
            <h3 class="event-title"><%= event.title %></h3>
            <p>
              <span class="event-venue"><%= event.venue %> - <strong><%= event.location %></strong></span>
            </p>
            <p class="lead-time">
              <span class="event-start"><%= time_format(event.start_date) %></span> <span class="pull-right">Organized by: <%= event.organizer.organization_name %></span>
            </p>
            <p class="index-icons">
              <span><i class="fa fa-commenting-o" aria-hidden="true"></i> <%= event.comments.count %></span>
              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i> <%= event.likes_total %></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i> <%= event.dislikes_total %></span>
            </p>
          </div>
        </div>
      </div>
     <% end %>
   </div>
  <% end %>
</div>
<div class="text-center">
   <%= will_paginate @events %>
</div>
