<header>
<h3>All Events</h3>
<ul class="actions">
	<% if user_signed_in? %>
		<li><%= link_to "Add Event", new_event_path, class: "new" %></li>
	<% end %>
</ul>
</header>

<div class="row">
  <div class="col-sm-3 pull-right">
    <div class="sidebar">
      <h3 class="discover">Discover</h3>
      <ul class="nav nav-pills nav-stacked">
        <li class="<%= "active" if current_page?("/events")%>"><%= link_to "ALL EVENTS", events_path %></li>
        <% @categories.each do |category| %>
          <li class="<%= "active" if current_page?("/categories/#{category.id}") %> text-uppercase">
            <%= link_to category.name, category_path(category) %>
          </li>
        <% end %>        
      </ul>
    </div>
  </div>
<% @events.each do |event| %>
 <div class="col-sm-9 pull-left">
   <%= link_to event_path(event) do %>
    <div class="events">
      <div class="row">
        <div class="col-sm-3">
          <%= image_tag "http://via.placeholder.com/200x100" %>
        </div>
        <div class="col-sm-9">
          <h3 class="event-title"><%= event.title %></h3>
          <p>
            <span class="event-venue"><%= event.venue %> - <strong><%= event.location %></strong></span>
          </p>
          <p class="lead-time">
            <span class="event-start"><%= time_format(event.start_date) %></span> <span class="pull-right">Organized by: <%= event.organizer.organization_name %></span>
          </p>
          <p class="index-icons">
            
          </p>
        </div>
      </div>
    </div>
   <% end %>
 </div>
<% end %>
