<h2><%= @event.title %></h2>
<p>
	<%= @event.description %>
</p>
<p>
	<%= @event.start_date %>
</p>
<p>
	<%= @event.end_date %>
</p>
<p>
	<%= @event.venue %>
</p>

<%= link_to "Delete", event_path(@event), method: :delete, data: {confirm: "Are you sure ?"} %>